<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">



<suite name="Test Suite" parallel="none">

    <test name="Selenium test case " preserve-order="true" group-by-instances="true" >
        <parameter name="device" value="Chrome" />
        <classes>
            <class name="com.testAutomation.testScripts.AssignmentA"/>

        </classes>
    </test>
</suite>


